{% extends "page.html" %}

{% block main %}
<style>
.spinner {
  margin: 100px auto 0;
  width: 150px;
  text-align: center;
}
.spinner > div {
  width: 30px;
  height: 30px;
  background-color: #00A0E9;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
</style>

<div class="container">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <div class="row">
    <div class="text-center" style="display: none;">
      {% block heading %}
      <h1>
      {% if failed %}
      Spawn failed
      {% else %}
      Server not running
      {% endif %}
      </h1>
      {% endblock %}
      {% block message %}
      <p>
        {% if failed %}
        The latest attempt to start your server {{ server_name }} has failed.
        {% if failed_message %}
          {{ failed_message }}
        {% endif %}
        Would you like to retry starting it?
        {% else %}
        Your server {{ server_name }} is not running.
          {% if implicit_spawn_seconds %}
          It will be restarted automatically.
          If you are not redirected in a few seconds,
          click below to launch your server.
          {% else %}
          Would you like to start it?
          {% endif %}
        {% endif %}
      </p>
      {% endblock %}
      {% block start_button %}
      <a id="start" role="button" class="btn btn-lg btn-primary" href="{{ spawn_url }}">
        {% if failed %}
        Relaunch
        {% else %}
        Launch
        {% endif %}
        Server {{ server_name }}
      </a>
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
{{ super () }}
{% if implicit_spawn_seconds %}
<script type="text/javascript">
  var spawn_url = "{{ spawn_url }}";
  var implicit_spawn_seconds = {{ implicit_spawn_seconds }};
  setTimeout(function () {
      console.log("redirecting to spawn at", spawn_url);
      window.location = spawn_url;
    },
    1000 * implicit_spawn_seconds
  );
</script>
{% endif %}
<script type="text/javascript">
require(["not_running"]);
</script>
{% endblock script %}
